<ion-view title="Tabs Controller" id="page1" >
    <ion-tabs class="tabs-striped tabs-color-light tabs-background-royal">
        <ion-tab title="Cupons" icon="ion-pricetags" href="#/page1/page4">
            <ion-nav-view name="tab3"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Categorias" icon="ion-ios-list" href="#/page1/page2">
            <ion-nav-view name="tab1"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Empresas" icon="ion-briefcase" href="#/page1/page3">
            <ion-nav-view name="tab2"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Localizar" icon="ion-android-pin" href="#/page1/page9">
            <ion-nav-view name="tab5"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
